

<div class="mybanner mt-2 mb-4" id="thisbanner">
  <div class="container">
    <h1>Style Higher provides <strong>clothes & accessories</strong> to <strong>image-conscious people</strong>.</h1>
    <p>Reinvent your look without spending a fortune.</p>
    
  </div>
</div>

<div class="container">
  <div class="card-container">
      <% @items.limit(3).each do |item| %>
      <% raise %>
      <div class="card" style="width: 18rem;">
        <% if item.photo.attached? %>
          <%= cl_image_tag item.photo.key, height: 300, crop: :mpad %>
        <% end %>
        <div class="card-body">
          <h5 class="card-title"><%= item.title %></h5>
          <p class="card-text"><%= item.description %></p>
          <div class="row">
            <%= link_to 'Show', item, class: "btn btn-success col "%>
            <p class="card-text text-right col"><%= item.price %> $</p>
          </div>
        </div>
      </div>
      <% end %>
  </div>
</div>
