
<div class="container">
  <br>
  <h1 id="index_title"> Check the latest trends </h1>
  <br>
  <% number = 0 %>
  <div class="card-container" >
    <% @items.each do |item| %>
    <div class="card" style="width: 18rem;">
      <% if item.photo.attached? %>
        <%= cl_image_tag item.photo.key, height: 300, crop: :mpad %>
      <% end %>
      <div class="card-body">
        <h5 class="card-title"><%= item.title %></h5>
        <p class="card-text"><%= item.description %></p>
        <div class="row">
          <%= link_to 'Show', item, class: "btn btn-success col "%>
          <p class="card-text text-right col"><%= item.price %> $</p>
        </div>
      </div>
      <% number += 1 %>
    </div>
    <% end %>
  </div>
</div>
