<h1> Confirm your choice </h1>
<p>
  <strong>Title:</strong>
  <%= @item.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @item.brand %>
</p>

<p>
<strong>Price:</strong>
<%= @item.price %> $
</p>

<p>
  <strong>User email:</strong>
  <%= @item.user.email %>
</p>
<%= link_to "book now", item_bookings_path(@item), method: :post %>

<div class="container">
  <div class="form-wrapper" style="width: 400px; margin: 0 auto;">
  
<%# Yorick and Silvia: merge the button with the link book now  %>
    <%= simple_form_for :search, method: "get" do |f| %>
      <%= f.input :starts_at, as: :string, required: false, input_html: {class: "datepicker"} %>
      <%= f.input :ends_at, as: :string, required: false, input_html: {class: "datepicker"} %>
      <%= f.button :submit, "Book now", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>