<h1> Confirm your choise </h1>
<p>
  <strong>title:</strong>
  <%= @item.title %>
</p>

<p>
  <strong>description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>brand:</strong>
  <%= @item.brand %>
</p>

<p>
<strong>price:</strong>
<%= @item.price %> $
</p>

<p>
  <strong>user mail:</strong>
  <%= @item.user.email %>
</p>
<%= link_to "book now", item_bookings_path(@item), method: :post %>
